@import 'variables.scss';

.prices {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-main;

  &__heading {
    margin: 0;
    padding: 16px;
    min-height: 56px;
    max-height: 80px;
    color: map-get(map-get($fonts, color), second);
    text-transform: uppercase;
    font-family: map-get(map-get($fonts, family), regular);
    font-size: map-get(map-get($fonts, size), base);
    font-weight: 500;
    line-height: map-get(map-get($fonts, line-height), second);
    letter-spacing: map-get(map-get($fonts, letter-spacing), second);
    background: linear-gradient(90deg, #f8f8f8, #ffffff);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #d9fff5;
  }

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 24px;
  }

  &__table {
    background-color: $bg-color-main;
    border-radius: 0 0 6px 6px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.6fr;
    gap: 20px;
    background-color: #f8f8f8;
    padding: 16px;
    width: 100%;
  }

  &__row {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.6fr;
    gap: 20px;
    align-items: center;
    padding: 24px 16px;
    border: 1px solid transparent;
  }

  &__cell-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--with-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  &__cell-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__column-title {
    color: map-get(map-get($fonts, color), second);
    font-family: map-get(map-get($fonts, family), medium);
    font-size: map-get(map-get($fonts, size), small);
    line-height: map-get(map-get($fonts, line-height), smaller);
    letter-spacing: map-get(map-get($fonts, letter-spacing), zero);
    font-weight: normal;
    opacity: 0.72;
    margin: 0;
  }

  &__cell {
    color: map-get(map-get($fonts, color), main);
    font-family: map-get(map-get($fonts, family), regular);
    font-size: map-get(map-get($fonts, size), small);
    line-height: map-get(map-get($fonts, line-height), small);
    letter-spacing: map-get(map-get($fonts, letter-spacing), small);
  }

  &__order-btn {
    background-color: $btn-color--main;
    color: $bg-color-second;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: map-get(map-get($fonts, family), bold);
    font-size: map-get(map-get($fonts, size), smaller);
    line-height: map-get(map-get($fonts, line-height), second);
    letter-spacing: map-get(map-get($fonts, letter-spacing), smaller);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 119px;
    height: 32px;
    padding: 0 8px 0 12px;
    border: none;
    cursor: pointer;

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../img/dropdown.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }

  &__disclaimer {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    margin: 32px 0 0;
    max-width: 421px;
  }

  &__proposal {
    margin-top: 16px;
  }

  &__proposal-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: -0.2px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b1c21;
    position: relative;
    padding-right: 32px;

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../img/dropdown.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 0;
    }
  }
}
