.aside {
  .aside-header-list-container {
    & > :nth-child(1) {
      @include respond-to(desktop) {
        display: none;
      }
    }

    @include respond-to(desktop) {
      justify-content: space-between;
    }
  }
}

.box-shadow {
  @include respond-to(desktop) {
    box-shadow: none;
  }
}
