@import 'variables.scss';

.header {
  width: 100%;
  height: 90px;

  .header-nav {
    width: 100%;
    height: 89px;
    border-bottom: $border-bottom;

    &__list {
      .header-nav__list-item {
        .header-nav__list-item-left {
          .header-nav__list-item-left-element {
            .header-nav__list-item-left-element-btn {
              width: $menu-btn-width;
              height: $menu-btn-height;
            }

            &:not(:last-child) {
              margin-right: 16px;
            }
          }
        }

        .header-nav__list-item-right {
          .header-nav__list-item-right-element {
            .header-nav__list-item-right-element-btn {
              width: $menu-btn-width;
              height: $menu-btn-height;
            }

            &:not(:last-child) {
              margin-right: 16px;
            }

            &.visually-hidden {
              display: none;
            }
          }
        }
      }
    }
  }
}
