@import 'variables.scss';

.page-wrapper {
  display: block;
}

/* HEADER */
.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $nav-menu-padding;

  .header-nav {
    &__list-item-left {
      display: flex;
      align-items: center;
    }

    &__list-item-right {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}

/* MAIN */
.main-nav-container {
  display: flex;
  align-items: center;
}

.about-company-container {
  display: flex;
  flex-direction: column;
}

/* BURGER MENU */
.aside-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: $mobile-panel-height;
  overflow-y: auto;
}

.aside-container {
  & > :last-child {
    margin-top: auto;
  }
}

.aside-header-container {
  margin-bottom: 24px;
}

.aside-header-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 24px;
}

.aside-nav-container {
  margin-bottom: 24px;
}

.aside-nav-list-container {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 24px;
}

.aside-footer-container {
  padding: 0 24px;
}

.aside-footer-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aside-footer-contacts-options-container {
  display: flex;
  gap: 16px;
}

/* BRANDS */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to(mobile) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  @include respond-to(tablet) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.container-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DEVICE TYPES */
.device-types-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to(mobile) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  @include respond-to(tablet) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.device-types-container-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
