.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px);

  @include respond-to(mobile) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    row-gap: 16px;
  }

  @include respond-to(tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    row-gap: 16px;
    column-gap: 24px;
  }

  @include respond-to(desktop) {
    grid-template-columns: repeat(auto-fit, 240px);
    column-gap: 32px;
  }
}

.service-prices-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 116px;
  margin-left: 24px;
  margin-right: 24px;
}

.service-prices__table-columns {
  display: contents;
}

.service-prices__table-rows {
  display: contents;
}

.service-prices__table-body {
  display: contents;
}

.service-prices__table-body-row {
  display: contents;
}
