@import 'variables.scss';

/* TOGGLE VISIBILITY OF HEADER DIVIDER*/
.divider {
  &.hidden {
    @include respond-to(mobile) {
      display: none;
    }

    @include respond-to(tablet) {
      display: flex;
    }
  }
}

/* TABLET */
.menu-container {
  @include respond-to(tablet) {
    padding: $nav-menu-padding-second;
  }
}

.header-nav__list-item-right {
  .visually-hidden {
    &:nth-of-type(-n + 3) {
      @include respond-to(tablet) {
        display: block;
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        border: initial;
        padding: initial;
        white-space: normal;
        clip-path: none;
        clip: auto;
        overflow: visible;
        margin-right: 16px;
      }
    }
  }
}

.main__title-wrapper {
  @include respond-to(tablet) {
    padding-top: 2px;
  }
}

.main__title-heading {
  @include respond-to(tablet) {
    margin-left: 24px;
  }
}

.nav-services {
  @include respond-to(tablet) {
    // margin-bottom: 24px;
  }
}

.about-company-container {
  @include respond-to(tablet) {
    flex-direction: row;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 24px;
  }
}

.about-company__image {
  @include respond-to(tablet) {
    min-height: 198px;
    min-width: 360px;
  }
}

.nav-services__list {
  @include respond-to(tablet) {
    padding-left: 28px;
    padding-right: 28px;
  }
}

/* DESKTOP */
#page-wrapper {
  @include respond-to(desktop) {
    display: flex;
  }
}

.aside-header-list-container {
  @include respond-to(desktop) {
    justify-content: space-between;
  }
}

aside.box-shadow {
  @include respond-to(desktop) {
    box-shadow: none;
  }
}

.aside-container {
  @include respond-to(desktop) {
    flex-shrink: 0;
  }
}

#burger {
  @include respond-to(desktop) {
    display: flex;
    width: 320px;
    transform: translateX(0px);
    position: static;
    transition: transform 0.3s ease;
    /* Учитываем высоту видимой области bottom/top панелей */
    height: calc(100vh - env(safe-area-inset-bottom) -env(safe-area-inset-top));
    overflow-y: auto;
  }
}

.aside-header-list-container > :nth-child(1) {
  @include respond-to(desktop) {
    display: none;
  }
}

.main {
  @include respond-to(desktop) {
    height: 100vh;
  }
}

.main__title-wrapper {
  @include respond-to(desktop) {
    padding-top: 7px;
  }
}

.nav-services {
  @include respond-to(desktop) {
    margin-bottom: 38px;
  }
}

.main-nav-container {
  @include respond-to(desktop) {
    flex-wrap: wrap;
    flex-basis: 95%;
    min-height: 85px;
  }
}

.about-company-container {
  @include respond-to(desktop) {
    padding-right: 32px;
    padding-bottom: 50px;
  }
}
