/* FLEX */
$nav-menu-padding: 18px 16px;
$nav-menu-padding-second: 18px 24px;

/* BUTTONS */
$menu-btn-width: 40px;
$menu-btn-height: 40px;

/* ICONS */
$menu-icon-width: 95px;
$menu-icon-height: 50px;

/* FONTS */
$font-bold: 'TTLakes-Bold', sans-serif;
$font-medium: 'TTLakes-Medium', sans-serif;
$font-regular: 'TTLakes-Regular', sans-serif;

$font-main-color: #1b1c21;
$font-second-color: #7e7e82;

$font-size-big: 28px;
$font-size-medium: 16px;
$font-size-small: 14px;

$line-height-main: 40px;
$line-height-second: 24px;
$line-height-small: 18px;

$letter-spacing-main: -0.6px;
$letter-spacing-second: -0.2px;
$letter-spacing-small: 0.2px;

/* MAIN */
$bg-color-main: #f8f8f8;
$main-padding: 16px;
$main-second-padding: 32px;
$item-color-main: #7e7e82;
$item-height: 34px;

/* HIGHLIGHT */
$bg-color-second: #ffffff;
$border-color-main: #b8ffec;
$border-radius-main: 6px;
